<html>
	<head>
        <script type="text/javascript" src="/js/iotdash.js"></script>
		<script type="text/javascript" src="/js/gauge.js"></script>
		<script type="text/javascript" src="/js/gaugeSettings.js"></script>
		<link href="/css/iotdash.css" rel="stylesheet">
	</head>
	<body onload='pageloaded();'>
		<h1>Sensor Readings</h1>
		<div class='gaugebox'>
			<h2>Temperature</h2>
			<canvas id="tempGauge"></canvas>
			<div class='dataText' id='temperature'>Loading...</div>
		</div>
		<div class='gaugebox'>
			<h2>Humidity</h2>
			<canvas id="humGauge"></canvas>
			<div class='dataText' id='humidity'>Loading...</div>
		</div>
		<div class='gaugebox'>
			<h2>Water</h2>
			<div id="traffic-light">
			  <input type="radio" name="traffic-light-color" class='color1' id="color1" value="color1" />
			  <input type="radio" name="traffic-light-color" class='color2' id="color2" value="color2"/>
			  <input type="radio" name="traffic-light-color" class='color3' id="color3" value="colo3" />
			</div>
			<div class='dataText' id='water'>Loading...</div>
		</div>
		<br/><br/>
		Last Updated at <span id='lastUpdated'>Updating...</span>
		

	</body>
</html>
